<script type="text/javascript">
  <% if logged_in? %>
    <% user = { username: current_user.username, id: current_user.id, img_url: current_user.img_url, dim_scores: current_user.dim_scores, answers: current_user.answers} %>
    window.currentUser = <%= user.to_json.html_safe %>
  <% end %>
</script>

<div id="content">
  Hello World
</div>
