html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "sofia-pro", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.8em;
  letter-spacing: 0.04em;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  color: #333;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

textarea {
  display: block;
}

button,
input[type="submit"], a {
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
