.header {
  opacity: 0.97;
  position: fixed;
  line-height: 1.8em;
  z-index: 498;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFFFFF;
  left: 0px;
  top: 0px;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
}

.header-left {
  margin-left: 15px;
  font-size: 16px;
  color: black;
  letter-spacing: 0.5em;
}

.header-left span {
  color: #EE3440;
  letter-spacing: 0.5em;
}

.header-right {
  margin-right: 15px;
}

.login-form {
  // margin: 0 auto;
  // margin-bottom: 5px;
  // width: 800px;
}

.header-list1 {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.header-list2 {
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-icon img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
}

.user-icon:hover img{
  opacity: 0.75;
}

.label {
  padding: 5px 0;
}

.login-form input[type="text"], .login-form input[type="password"] {
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  padding: 9px;
  border: solid 1px #ccc;
  transition: box-shadow 0.3s, border 0.3s;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus{
  outline: none;
  border: solid 1px #ccc;
  box-shadow: 0 0 2px 1px #ccc;
}

.form-section {
  margin-left: 10px;
}

.login-form input[type="submit"], .login-form button {
  font-weight: 900;
  background: white;
  color: #EE3440;
  padding: 5px 20px;
  border: 4px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
}

.login-form input[type="submit"]:hover, .login-form button:hover{
  background: #EE3440;
  color: white;
  border: 4px solid #EE3440;
}

.icon:hover, .link:hover {
  color: black;
}

.icon {
  background: transparent;
  color: #777;
  font-size: 16px;
}
