.header {
  position: fixed;
  line-height: 24px;
  z-index: 498;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  background-color: #FFFFFF;
  // display: none;
  left: 0px;
  top: 0px;
  // -webkit-transform: translateZ(0);
  // -webkit-backface-visibility: hidden;
  // -moz-transform: translateZ(0);
  // -moz-backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.login-form {
  margin: 0 auto;
  width: 500px;
}

.header-list1 {
  display: flex;
  align-items: center;
  justify-content: space-between;;
  width: 220px;
}

.header-list2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.user-icon {
  height: 25px;
  width: 25px;
}

.user-icon img {
  width: 100%;
  height: auto;
}

.label {
  padding: 5px 0;
}

.login-form input[type="submit"] {
  font-weight: 800px;
  background: #EE3440;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
}

.login-form input[type="submit"]:hover{
  background: #ca2637;
  border: 1px solid #ca2637;
}

.icon:hover {
  color: #ca2637;
}

.icon {
  background: transparent;
  color: #333;
  font-size: 16px;
}

.login-form input, textarea, select {
  margin:0;
}
