.header {
  position: fixed;
  line-height: 24px;
  z-index: 498;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFFFFF;
  // display: none;
  left: 0px;
  top: 0px;
  // -webkit-transform: translateZ(0);
  // -webkit-backface-visibility: hidden;
  // -moz-transform: translateZ(0);
  // -moz-backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.login-form {
  margin: 0 auto;
  width: 600px;
}

.header-list1 {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  width: 200px;
}

.header-list2 {
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-icon img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
}

.label {
  padding: 5px 0;
}

.login-form input[type="text"], .login-form input[type="password"] {
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: 0.25rem;
  padding: 5px;
  border-radius: 0.25rem;
  border: solid 1px #333;
  transition: box-shadow 0.3s, border 0.3s;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus{
  outline: none;
  border-radius: 0.25rem;
  border: solid 1px #333;
  box-shadow: 0 0 2px 1px #333;
}

.form-section {
  margin-right: 10px;
}
// .login-form .submit{
//   font-weight: 800;
//   background: #EE3440;
//   color: white;
//   padding: 10px 20px;
//   border-radius: 0.25rem;
//   border: 1px solid #EE3440;
//   letter-spacing: 0.1em;
//   width: 100%;
// }
//
// .login-form .submit:hover{
//   background: #ca2637;
//   border: 1px solid #ca2637;
// }

.login-form input[type="submit"], .login-form button {
  font-weight: 800;
  background: #EE3440;
  color: white;
  padding: 5px 20px;
  border-radius: 0.25rem;
  border: 1px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
  // background: blue;
}

.login-form input[type="submit"]:hover, .login-form button:hover{
  background: #ca2637;
  border: 1px solid #ca2637;
}

.icon:hover, .link:hover {
  color: #ca2637;
}

.icon {
  background: transparent;
  color: #333;
  font-size: 16px;
}

// .login-form input, textarea, select {
//   margin:0;
// }
