body {
  // background: url("http://res.cloudinary.com/ddm1q6utc/image/upload/c_scale,w_1300/v1470525575/splash_gjzple.jpg");
  // background-position: center;
}

.content {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.04em;
  line-height: 1.8em;
}

.signup-section {
  width: 250px;
  text-align: center;
}

.signup-form{
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.signup-form label {
  display: block;
}

.signup-form input {
  display: block;
}

.signup-section h1 {
  font-size: 32px;
  font-weight: 900;
  // letter-spacing: 0.1em;
}

.signup-section h2 {
  font-size: 14px;
  font-weight: 600;
}

.logo-large {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.signup-form input, .signup-form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: block;
  margin: 0 0 10px 0;
  width: 100%;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  padding: 8px;
  border: solid 1px #333;
  transition: box-shadow 0.3s, border 0.3s;
}

.signup-form input:focus, .signup-form select:focus {
  outline: none;
  border: solid 1px #333;
  box-shadow: 0 0 2px 1px #333;
}

.signup-form .submit input{
  font-weight: 900;
  background: none;
  color: #EE3440;
  padding: 10px 20px;
  border: 4px solid #EE3440;
  letter-spacing: 0.1em;
  width: 100%;
}

.signup-form .submit input:hover{
  background: #EE3440;
  color: white;
  border: 4px solid #EE3440;
}
