// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index {
  width: 100%;
  margin: 0 auto;
}
.user-index-item {
  width: 267px;
  height: 316.328px;
  float:left;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 12px;
  text-align: center;
}

.user-index-item h3 {
  font-size: 30px;
  font-weight: 800;
}

.user-topbar {
  background: white;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid white;
}

.user-nav {
  background: #484848;
  height: 50px;
}

.user-main {
  background: white;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid white;
}

.edit-icon {
  padding: 10px;
  background: transparent;
  color: #EE3440;
  font-weight: 800;
  font-size: 18px;
  // border: 2px solid #333;
  // border-radius: 5px;
}

.profile-section-form input[type="submit"] {
  font-weight: 800px;
  background: #EE3440;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
}

.profile-section-form input[type="submit"]:hover{
  background: #ca2637;
  border: 1px solid #ca2637;
}

.user-summary h3 {
  font-size: 28px;
  color: black;
}
.user-main h4 {
  color: black;
  margin-top: 50px;
}
.user-index-item h3 {
  letter-spacing: 0.1em;
  color: black;
}

// .edit-icon {
//   float: left;
// }
