// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-center {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-main {
  margin-top: 25px;
}

.users-message {
  text-align: center;
  color: #EE3440;
  font-size: 14px;
  margin-top: 5px;
}

.users-message span {
  font-weight: 600;
}

.users-message span:hover {
  color: #ca2637;
}

.filter {
  width: 100%;
  color: rgba( 0, 0, 0, 0.63 );
  font-size: 14px;
  font-weight: 600;
  padding: 50px 0px 0px 0px;
  opacity: 1;
  text-align: center;
}

.filter input {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #777;
}

.filter select {
  font-size: 14px;
  // font-weight: 600;
  appearance: none;
  border: solid 1px #777;
}

.user-index {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  align-items: flex-start;
}

.user-index-item {
  font-size: 14px;
  font-weight: 400;
  width: 267px;
  text-align: center;
}

.user-index-item h3 {
  letter-spacing: 0.1em;
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
}

.user-index-item h3:hover {
  color: #ca2637;
}

.user-index-item p {
  margin-bottom: 2px;
}

.user-index-item h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-main {
  padding: 50px 50px 50px 0;
  font-size: 14px;
}

.user-sidebar {
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.chart {
  color: #777;
}

.user-index-item p {
  margin-bottom: 2px;
}

.chart h4{
  font-size: 16px;
  color: black;
  margin: 10px 0;
}

.edit-icon {
  background: transparent;
  color: #EE3440;
  font-weight: 800;
  font-size: 16px;
}

.edit-icon:hover {
  color: #ca2637;
}

.profile-section-form input[type="submit"], .user-sidebar button {
  font-weight: 800px;
  background: #EE3440;
  color: white;
  padding: 5px 20px;
  border-radius: 0.25rem;
  border: 1px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 20px;
}

.profile-section-form input[type="submit"]:hover, .user-sidebar button:hover {
  background: #ca2637;
  border-radius: 0.25rem;
  border: 1px solid #ca2637;
}

.user-summary h3 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.user-main h4 {
  color: black;
  font-size: 14px;
}

.user-main textarea {
  font-size: 12px;
  width: 498px;
  height: 90px;
  padding: 9px;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.section-content {
  margin: 10px 0 20px 0;
}

.user-index-item {
  color: #777;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.profile-button {
  width: 225px;
  height: 25px;
}

.profile-photo {
  height: 267px;
  width: 267px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
  cursor: pointer;
}

.user-summary {
  font-size: 16px;
  color: #777;
  padding: 0px 0 5px 0;
}

.user-summary p {
  padding-bottom: 2px;
}

.user-index-photo {
  height: 267px;
  width: 267px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.user-index-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
  cursor: pointer;
  opacity: 1;
}

.user-index-photo:hover img {
  opacity: .75;
}

.user-index-description {
  padding: 10px 20px 30px 20px;
}
