// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-questions {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content-questions h3 {
 font-size: 16px;
 font-weight: 900;
}

.content-questions h5 {
  font-size: 14px;
  font-weight: 900;
}

.questions-completed {
  color: white;
  background: #EE3440;
  padding: 10px 40px;
  border: 4px solid #EE3440;
}

.questions-main {
  margin-left: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.answers-main {
  width: 700px;
  margin-left: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.questions-heading {
  padding-bottom: 20px;
  border-bottom: 4px solid black;
}

.answers-heading {
  padding-bottom: 20px;
  border-bottom: 4px solid black;
}

.content-questions input[type="submit"], .reanswer {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.1em;
  background: white;
  color: #EE3440;
  padding: 10px 20px;
  border: 4px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 10px;
}

.content-questions input[type="submit"]:hover, .reanswer:hover {
  background: #EE3440;
  color: white;
  border: 4px solid #EE3440;
}

.questions-instructions {
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.question-number {
  color: white;
  background: #EE3440;
  padding: 10px 40px;
  border: 4px solid #EE3440;
}

.question-form {
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.answer {
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.check-icon {
  background: transparent;
  color: #EE3440;
  font-weight: 800;
  font-size: 16px;
}

.answer-index {
  display: flex;
  flex-direction: column-reverse;
}
