// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  align-items: center;
  color: #777;
  font-size: 14px;
}

.messages-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.messages-right {
  display: flex;
  justify-content: flex-end;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}

.message-right {
  padding: 10px;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEE #DDD #BBB;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.message-left {
  margin-left: 41px;
}

.message-photo {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.message-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
}

.new-message-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.new-message-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
}

.messages-header h3{
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.message-right textarea {
  font-size: 14px;
  width: 100%;
  height: 90px;
  padding: 9px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.new-message-bottom textarea {
  font-size: 14px;
  width: 100%;
  height: 240px;
  padding: 9px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.message-right input[type="submit"], .new-message-bottom input[type="submit"] {
  font-weight: 900;
  font-size: 14;
  letter-spacing: 0.1em;
  background: white;
  color: #EE3440;
  padding: 10px 20px;
  border: 4px solid #EE3440;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 10px 0;
}

.new-message-bottom input[type="submit"] {
  position: absolute;
  right: 20px;
}

.message-right input[type="submit"]:hover, .new-message-bottom input[type="submit"]:hover {
  background: #EE3440;
  color: white;
  border: 4px solid #EE3440;
}

.new-message-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.new-message-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}

.exit-icon:hover, {
  color: #ca2637;
}

.exit-icon {
  background: transparent;
  color: #777;
  font-size: 20px;
}

.time-ago {
  padding-top: 15px;
  font-size: 12px;
  color: #777;
}
